// colors
$white: #ffffff;

// breakpoints
$width-349: 349px;
$width-599: 599px;
$width-767: 767px;
$width-992: 992px;
$width-1199: 1199px;
$width-1299: 1299px;
$width-1399: 1399px;
$width-1440: 1440px;
$width-1499: 1499px;
$width-1600: 1600px;

// layout
$container-width: 1240px;
$container-global-padding: 16px;
